@import "./_setting.scss";

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
  font-family: "Source Sans Pro", sans-serif;
}
.trello-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr; // grid layout by row , row 1: 40px, row 2: 50px , con lai la 1 fr(KHUNG HINH)
  background-color: $board-bg-color;
}
